body {
  background-color: white;
}

.container {
  border: black 1px solid;
  background-color: white;
}

h1,
p {
  color: black;
}

.btn-light {
  background-color: white;
  color: black;
  border: black 1px solid;
}

.btn-dark {
  background-color: black;
  color: white;
  border: white 1px solid;
}
